.brendlogocontainer {
  margin-top: 120px;
  overflow: hidden;
  .foranm {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    animation: moveSlideshow 30s linear infinite;
  }

  .logoline {
    display: flex;
    img {
      padding: 40px 60px;
    }
  }
}
.sideline {
  width: 1px;
  height: 100%;
  background-color: #9498a6;
}

@keyframes moveSlideshow {
  0% {
    left: 0%;
    top: 0;
  }
  100% {
    left: -193.9%;
    top: 0;
  }
}
