// ==header start==

//===================================================
.d-none {
  display: none;
}
.d-block {
  display: block;
}
.rotate {
  transition: 1s ease-in-out !important;
  transform: rotate(360deg);
}
// ==header end==
a {
  text-decoration: none;
}
.carouselcontainer {
  & {
    max-width: 1270px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
  }
  img {
    width: 100%;
    height: 485px;
  }
}
.categorycontainer {
  & {
    display: flex;
    max-width: 1270px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 90px;
  }
  .category {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    padding-top: 35px;
    border: 1px solid #6d757a;
    background: #6d757a;
    color: white;
    transition: 0.2s ease-in-out;
    &:hover {
      color: #6d757a;
      background: white;
    }
    span {
      font-size: 40px;
    }
    p {
      text-align: center;
    }
  }
}
.secondcategorycontainer {
  max-width: 1270px;
  margin: 0 auto;
  .forflex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .secondpartcategory {
    font-size: 25px;
    margin-top: 44px;
    background: linear-gradient(to bottom right, #4c4e52 0%, #d1d1d1 100%);
    border-radius: 10px;
    color: white;
    width: 31%;
  }
  h3 {
    text-align: center;
    padding-bottom: 85px;
  }

  img {
    width: 100%;
  }
  .secondpartcategory.phone {
    img {
      width: 55%;
      margin-left: 20%;
      margin-top: -20px;
    }
  }
  .secondpartcategory.laptop {
    img {
      width: 100%;
      margin-top: 30px;
    }
  }
  .secondpartcategory.tv {
    img {
      width: 86%;
      margin-left: 30px;
      margin-top: -25px;
    }
  }
  .secondpartcategory {
    .accesories {
      .firstimg {
        width: 60%;
        height: 60%;
        margin-left: 25px;
      }
      .secimg {
        width: 57%;
        margin-left: -120px;
        margin-top: -30px;
      }
    }
  }
  .secondpartcategory.gameconsole {
    img {
      width: 91%;
      margin-left: 20px;
    }
  }
  p {
    margin-left: 20px;
    margin-top: 10px;
  }
  .first {
    margin-top: 0;
  }
}

.productcontainer {
  max-width: 1270px;
  margin: 0 auto;

  .forflex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  h3 {
    text-align: center;
    padding: 70px;
  }
  p {
    text-align: center;
  }
  .productcard {
    width: 23%;
    margin-top: 20px;
    box-shadow: 0 0 12px 0 #dadcdd;
    border-radius: 10px;
    &:hover {
      img {
        width: 100%;
        transform: scale(1.05);
      }
    }
    .pricecontainer {
      display: flex;
      justify-content: center;
    }
    .price {
      font-weight: bolder;
    }
    .currency {
      font-size: 10px;
      margin-top: 6px;
    }
    img {
      width: 100%;
      transition: 0.6s ease-in-out;
    }
    .buttoncontainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      button {
        padding: 5px 50px;
        border-radius: 20px;
        margin-bottom: 15px;
      }
      .cash {
        background: #6d757a;
        color: white;
      }
      .credit {
        color: #6d757a;
        border: 1px solid #6d757a;
      }
    }
    .card-icon {
      display: flex;
      justify-content: flex-end;
      i {
        margin: 15px 8px;
        color: #555970;
      }
    }
  }
}
.buttoncontainer {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  .loadmore {
    padding: 5px 50px;
    background: #6d757a;
    color: white;
    border-radius: 50px;
    font-size: 20px;
  }
}
.brendlogocontainer {
  margin-top: 120px;
  overflow: hidden;
  .foranm {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    animation: moveSlideshow 30s linear infinite;
  }

  .logoline {
    display: flex;
    img {
      padding: 40px 60px;
    }
  }
}
.sideline {
  width: 1px;
  height: 100%;
  background-color: #9498a6;
}

@keyframes moveSlideshow {
  0% {
    left: 0%;
    top: 0;
  }
  100% {
    left: -193.9%;
    top: 0;
  }
}
@media only screen and (max-width: 1300px) {
  .productcontainer,
  .secondcategorycontainer,
  .categorycontainer {
    max-width: 1290px;
    padding: 20px !important;
  }
}
@media only screen and (max-width: 992px) {
  .secondcategorycontainer {
    .secondpartcategory.phone {
      img {
        width: 50%;
        margin-left: 25%;
      }
    }
  }
  #content {
    h4,
    p {
      font-size: 14px;
    }
  }

  #nav-icon1 {
    display: block;
  }
  .categorycontainer {
    display: none;
  }
  .carouselcontainer {
    img {
      height: 340px;
    }
  }
  .secondcategorycontainer,
  .productcontainer {
    h3 {
      padding-top: 90px;
      padding-bottom: 40px;
      margin: 0;
      font-size: 22px;
    }
  }

  .productcontainer,
  .secondcategorycontainer,
  .categorycontainer,
  .carouselcontainer {
    max-width: 912px !important;
  }
  .secondcategorycontainer {
    .secondpartcategory {
      width: 48%;
      margin-top: 44px;
    }
  }
  .productcontainer {
    .forflex {
      .productcard {
        width: 32%;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .productcontainer,
  .secondcategorycontainer,
  .categorycontainer,
  .carouselcontainer {
    max-width: 768px !important;
  }
  .productcontainer {
    .forflex {
      .productcard {
        width: 48%;
        margin-top: 25px;
      }
    }
  }
}
@media only screen and (max-width: 568px) {
  .productcontainer,
  .secondcategorycontainer,
  .categorycontainer,
  .carouselcontainer {
    max-width: 568px !important;
  }
  .secondcategorycontainer .secondpartcategory.phone img {
    width: 60%;
    margin-top: -6%;
    margin-left: 20%;
  }
  .secondcategorycontainer .secondpartcategory.tv img {
    width: 90%;
    margin-left: 9px;
    margin-top: -12px;
  }
  .secondcategorycontainer p {
    font-size: 17px;
  }
  .secondcategorycontainer .secondpartcategory .accesories .firstimg {
    margin-left: 14px;
  }
  .secondcategorycontainer .secondpartcategory .accesories .secimg {
    margin-left: -60px;
    margin-top: -12px;
  }
  .productcontainer {
    .forflex {
      justify-content: center;
      .productcard {
        width: 60%;
        margin-top: 25px;
      }
    }
  }
  .carouselcontainer img {
    width: 530px;
    height: 201px;
  }
}

@media only screen and (max-width: 360px) {
  .productcontainer,
  .secondcategorycontainer,
  .categorycontainer,
  .carouselcontainer {
    max-width: 340px !important;
  }
  .secondcategorycontainer .secondpartcategory .accesories .secimg {
    margin-left: -95px;
    margin-top: -25px;
  }
  .secondcategorycontainer p {
    font-size: 20px;
  }
  .productcontainer h3 {
    padding: 65px;
  }
  .carouselcontainer img {
    height: 140px;
  }
  .productcontainer {
    .forflex {
      .productcard {
        width: 100%;
      }
    }
  }
  .secondcategorycontainer {
    .secondpartcategory {
      width: 100%;
      margin-top: 44px;
    }
  }
}
